footer{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 200px;
    background-color: $neutral-black-dark;
    color: $neutral-white;
    font-family: 'overpass', sans-serif;
    padding: 5% 0;

    .footer-links{
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 100px;

        h3{
            font-size: 1rem;
            margin-bottom: 1rem;
        }

        ul{
            list-style-type: none;
        }

        a{
            color: $neutral-grayish-blue;
            font-size: 0.8rem;
        }
        a:hover{
            text-decoration: underline;
        }
    }
}